#!/bin/bash

export NODE_ENV=""
export GITHUB_CLIENT_ID=""
export GITHUB_CLIENT_SECRET=""
export GITLAB_CLIENT_ID=""
export GITLAB_CLIENT_SECRET=""
export HOST=""
export MONGODB_URI=""
export PAPERTRAIL_HOST=""
export PAPERTRAIL_PORT=""
export PROCESS_LIMIT="4"
export SESSION_SECRET=""
export UPLOADCARE_KEY=""
export STATIC_ROOT=""
export BACKBLAZE_ACCOUNT_ID=""
export BACKBLAZE_APP_KEY=""
export BACKBLAZE_BUCKET_ID=""
export BACKBLAZE_BUCKET_NAME=""
