[Service]
ExecStart=/srv/openstore/run.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=openstore-api
User=openstore-api
Group=openstore-api

[Install]
WantedBy=multi-user.target
